# Styling Markdown Tables Demo

### Create and style a Markdown Table

 :---  = left align
 ---:  = right align
 :---: = centered 
 
| Name         | Address                      |                  Zip  |
|:---:           |:---                            | ---:                    |
|Tor           | 123 ABC Road, Chicago IL     | 60001                 |

### Below is what the markdown table looks like
 Notice the following: 
 - **Name** (centered)
 - **Address** (left aligned)
 - **Zip** (Right Aligned)

| Name         | Address                      |                  Zip  |
|:---:           |:---                            | ---:                    |
|Tor           | 123 ABC Road, Chicago IL     | 60001                 |

#### The following code will left align a markdown table in a cell and make some other css changes to the text

In [ ]:
%%html
<style>
table {float:left; width:100%;} 
th {float:center; color:orange} 
tr {float:center; color:red}
</style>

<div id="div1"></div>

| Name         | Address                      |                  Zip  |
|:---:           |:---                            | ---:                    |
|Tor           | 123 ABC Road, Chicago IL     | 60001                 |
|Tor           | 123 ABC Road, Chicago IL     | 60001                 |
|Tor           | 123 ABC Road, Chicago IL     | 60001                 |
|Tor           | 123 ABC Road, Chicago IL     | 60001                 |
|Tor           | 123 ABC Road, Chicago IL     | 60001                 |

In [ ]:
%%html
<style>
#div1 + table {
    color:#000000;
    float:left; width:80%; 
    border-collapse: collapse;
    font-family: Geneva, sans-serif;
}
#div1 + table tbody tr td:first-child {
      color:#000000;
      font-weight: bold;
}
#div1 + table tbody tr:nth-child(2) td:nth-child(2){
    font-size: 20px;  
}

#div1 + table thead tr {
    text-align: center;
    background-color: #C27066;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #54585d;
}
#div1 + table tbody tr:nth-child(even) {
    background-color: #C3CFDB;
}
#div1 + table th:nth-child(1) {
  width: 20%;
}
#div1 + table th:nth-child(2) {
  width: 60%
}
#div1 + table th:nth-child(3) {
  width: 20%
}  
</style>

### The following code will create a table using HTML syntax

<table id = "mytable2">
    <thead>
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Zip</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tor</td> 
            <td>123 ABC Road, Chicago IL</td> 
            <td>60001</td> 
        </tr>
           <tr>
            <td>Sandy</td> 
            <td>456 Jefferson Road, Chicago IL</td> 
            <td>60021</td> 
        </tr>
           <tr>
            <td>Christine</td> 
            <td>34567 Clark Drive, Chicago IL</td> 
            <td>60031</td> 
        </tr>
           <tr>
            <td>Peter</td> 
            <td>45633 Lake Street, Fort Lauderdale FL</td> 
            <td>33311</td> 
        </tr>
    </tbody>
</table>

In [ ]:
%%html
<style>
#mytable2 {
    float:left; width:100%; 
    border-collapse: collapse;
    font-family: Tahoma, Algerian, Geneva, sans-serif;
}
#mytable2 td {
    padding: 15px;
}
#mytable2 thead td {
    text-align: center;
    background-color: #386087;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}
#mytable2 tbody td {
    text-align: center;
    color: #636363;
    border: 1px solid #dddfe1;
}
#mytable2 tbody tr {
    background-color: #ffffff;
}
#mytable2 tbody tr:nth-child(even) {
    background-color: #C3CFDB;
}
#mytable2 tbody tr:nth-child(even) {
    background-color: #C3CFDB;
}
#mytable2 tbody tr td:first-child {
      font-weight: bold;
}
</style>

In [ ]:
%%html
<style>
table {float:left; width:80%;} 
th {float:left; color:blue;} 
.mytable thead tr:first-child th:nth-child(2){
   color: orange;align:center;
}
tr {float:left; color:red}
.mytable tbody tr:first-child td:nth-child(2) {
   color: red;align:left;
}
td {float:left; color:green}
</style>

<table  class="mytable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Zip</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tor</td> 
            <td >123 ABC Road, Chicago IL</td> 
            <td>60001</td> 
        </tr>
    </tbody>
</table>

### Python Collection Types

In [ ]:
%%html
<style>
table {float:left; width:70%;} 
tr {float:center; color:black}
td {float:center; color:black}
</style>


| Type | Description |
| :- |:- |
|  **SET()** | A set is a collection which is **unordered, unchangeable, and unindexed**. |
|        | Note: Set items are unchangeable, but you can remove items and add new items. |
|  **LIST[]** | List items are **ordered, changeable, and ALLOW duplicate values**. |
||Note: List items are **indexed**, the first item has index [0], the second item has index [1] etc.|
|**TUPLE()**|A tuple is a collection which is **ordered and unchangeable**.|
|**DICTIONARY{}**|Dictionaries are used to store data values in key:value pairs.|
||Note: A dictionary is a collection which is **ordered, changeable and DO NOT allow duplicates**.|

In [ ]:
 from IPython.core.display import HTML
 css = open('./Markdown/stylesheets/style_table4.css').read()
 HTML('<style>{}</style>'.format(css))


| Type | Description |
| :- |:- |
|  SET() | A set is a collection which is unordered, unchangeable, and unindexed. |
|        | Note: Set items are unchangeable, but you can remove items and add new items. |
|  LIST[] | List items are ordered, changeable, and ALLOW duplicate values. |
||Note: List items are indexed, the first item has index [0], the second item has index [1] etc.|
|TUPLE()|A tuple is a collection which is ordered and unchangeable.|
|DICTIONARY{}|Dictionaries are used to store data values in key:value pairs.|
||Note: A dictionary is a collection which is ordered, changeable and DO NOT allow duplicates.|